@import "_fontface";

@font-face {
  font-family: 'ef_cuisinesregular';
  src: url('./fonts/efcuisines-regular-webfont.eot');
  src: url('./fonts/efcuisines-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/efcuisines-regular-webfont.woff') format('woff'),
  url('./fonts/efcuisines-regular-webfont.ttf') format('truetype'),
  url('./fonts/efcuisines-regular-webfont.svg#ef_cuisinesregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #eaf4f7;
  font-family: 'Varela Round', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

.containers {
  margin: 0 auto;
  width: 1200px;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: Halvetica, sans-serif;
}