.filters {
  background-color: #F54343;
  height: 100px;
  display: flex;
  justify-content: space-around;
  color: white;
}

.filter {
  width: 300px;
  padding-top: 12px;
  margin-right: 10px;
  label {
    display: block;
    color: white;
    font-weight: 100;
    padding-bottom: 5px;
  }
  select {
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 100;
    appearance:none;
    color: #C2C2C2;
    background-image:
      linear-gradient(45deg, transparent 50%, black 50%),
      linear-gradient(135deg, black 50%, transparent 50%),
      linear-gradient(to right, rgb(248, 248, 248), rgb(248, 248, 248));
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
  }

}